venv/
venv0/
.vscode/
node_modules/

projektplan/projekt_plan.aux
projektplan/projekt_plan.fdb_latex
projektplan/projekt_plan.fls
projektplan/projekt_plan.log
projektplan/projekt_plan.bbl
projektplan/projekt_plan.bcf
projektplan/projekt_plan.blg
projektplan/projekt_plan.fdb_latexmk
projektplan/projekt_plan.out
projektplan/projekt_plan.run.xml
projektplan/projekt_plan.synctex.gz
projektplan/end.aux

frontend/angular-app/.angular
frontend/angular-app/.vscode
frontend/angular-app/node_modules

frontend/angular-app/.editorconfig