<div class="container">
  <div class="header">
    <h1>Neural Network Inspector</h1>
  

    <div class="network-layout" *ngIf="input && activations">
        <div class="input-column">
            <div class="input-row">
            <label>Opt X: {{(manualState.opt[0]*100).toFixed(0)}}</label>
            <input type="range" min="-1" max="1" step="0.01" [(ngModel)]="manualState.opt[0]" (change)="onStateChange()">
            </div>
            <div class="input-row">
            <label>Opt Y: {{(manualState.opt[1]*100).toFixed(0)}}</label>
            <input type="range" min="-1" max="1" step="0.01" [(ngModel)]="manualState.opt[1]" (change)="onStateChange()">
            </div>
            <div class="input-row">
                <label>Vel X {{(manualState.vel[0]*100).toFixed(0)}}</label>
                <input type="range" min="-1" max="1" step="0.01" [(ngModel)]="manualState.vel[0]" (change)="onStateChange()">
            </div>
            <div class="input-row">
                <label>Vel Y {{(manualState.vel[1]*100).toFixed(0)}}</label>
                <input type="range" min="-1" max="1" step="0.01" [(ngModel)]="manualState.vel[1]" (change)="onStateChange()">
            </div>
            <div class="input-row">
                <label>Acc X {{(manualState.acc[0]*100).toFixed(0)}}</label>
                <input type="range" min="-1" max="1" step="0.01" [(ngModel)]="manualState.acc[0]" (change)="onStateChange()">
            </div>
            <div class="input-row">
                <label>Acc Y {{(manualState.acc[1]*100).toFixed(0)}}</label>
                <input type="range" min="-1" max="1" step="0.01" [(ngModel)]="manualState.acc[1]" (change)="onStateChange()">
            </div>
            <div class="input-row">
                <label>Ang {{(manualState.ang*100).toFixed(0)}}</label>
                <input type="range" min="-1" max="1" step="0.01" [(ngModel)]="manualState.ang" (change)="onStateChange()">
            </div>
            <div class="input-row">
                <label>Ang V {{(manualState.ang_vel*100).toFixed(0)}}</label>
                <input type="range" min="-1" max="1" step="0.01" [(ngModel)]="manualState.ang_vel" (change)="onStateChange()">
            </div>
        </div>
        <div class="layers">
            <div class="layer">
                <div class="layer-label">Input</div>
                <div class="neurons" style="gap: 27.5px">
                    <div class="neuron" *ngFor="let v of input" [style.backgroundColor]="neuronColor(v)" [style.marginTop]="500" [title]="v.toFixed(3)"></div>
                </div>
            </div>
            <div class="layer" *ngFor="let layer of activations">
                <div class="layer-label">Layer</div>
                <div class="neurons">
                    <div class="neuron" *ngFor="let v of layer" [style.backgroundColor]="neuronColor(v)" [title]="v.toFixed(3)"></div>
                </div>
            </div>
                <div class="layer" *ngIf="activations.length > 0">

                <div class="output-labels">
                    <p>Output:</p>
                    <div class="out-label">Left: {{(((activations[activations.length - 1][0] * 100)+ 100)/2).toFixed(1)}}%</div> <!--again, // only to strenthen visual effect, not quantitatively correct, but qualitativ, not linear-->
                    <div class="out-label">Right: {{(((activations[activations.length - 1][1] * 100)+ 100)/2).toFixed(1)}}%</div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
