<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <h1>Welcome back, {{this.userName}}!</h1>

<!--loops:-->

@for (item of this.user; track this.user) {
    <p>User name: {{item["name"]}}</p>
}


<div *ngFor="let u of user">
    <p>ID: {{ u.id }}</p>
    <p>Level: {{ u.level }}</p>
    <p>Password: {{ u.passwd }}</p>
</div>

<ul>
  <li *ngFor="let entry of leaderboard">
    {{ entry.name }} — {{ entry.top_score }}
  </li>
</ul>

<button (click)="getLedInd()">Test getting index</button>
<button (click)="testLogin()">Test Login</button>
<button (click)="send70()">Send Test Data</button>



<app-info></app-info>

<!--<app-game></app-game>-->
    

</body>
</html>

