body {
    background-color: rgb(15, 15, 15);
    color: rgb(181, 253, 255);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Brush Script MT', cursive;
}

::selection {
  color: blueviolet;
  background-color: rgba(158, 241, 255, 0.041);
}

header { margin: 10px 20px 20px 20px; }

p {
    text-align: justify;
}

h2 {
    width: 100%;
    padding: 5px 5px;
    border-bottom: 1.5px solid black;

}

.title {
    color: blueviolet;
    margin: 50px;
    padding: 5px 30px;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.wrapper {
    max-width: 40%;
    color: aliceblue;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 30px;
}

.horizontal {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

img {
    max-width: 200px;
    height: auto;
    flex: .5;
    margin: 20px 20px;
}

.txt {
    max-width: 300px;
    margin: 20px 20px;
}

h2 {
    color: rgb(181, 253, 255);
    margin-bottom: 0px;
}

button {
    width: 200%;
    padding: 0.4rem 0.6rem;
    border-radius: 4px;
    border: 1px solid #444;
    background: #111;
    color: white;

    margin: 5px;
}

button:hover {
    background-color: black;
    color: rgb(181, 253, 255);
}
