nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #000000;
}

nav a {
    display: inline-block;
    vertical-align: middle;
    height: 10%;

    color: white;
    font-family: 'serif', 'Times', sans-serif;
    font-size: 100px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;

    padding: 10px 20px 10px 20px;

}

nav a:hover {
    background-color: rgb(22, 22, 22);
}



@media (min-width: 100px) {
    nav {height: 10px;}
    nav a {font-size: 5px;}
}

@media (min-width: 100px) {
    nav {height: 50px;}
    nav a {font-size: 20px;}
}

@media (min-width: 3000px) {
    nav {height: 150px;}
    nav a {font-size: 50px;}
}