nav {
    position: fixed;
    right: 15px;
    top: 18px;
    z-index: 100;
    font-family: "Lora", serif;
    font-weight: 100;
    font-style: light;
    word-spacing: .1ch;
}

.nav-toggle {
    display: block;
    padding: 0.4rem 0.8rem;
    background: #5050506e;
    color: #ffffff;
    cursor: auto;
    user-select: none;
    border-radius: 2px;
}

.nav-links {
    display: none;
    flex-direction: column;
    background: #414141;
    border-radius: 2px;
}

nav:hover .nav-links {
    display: flex;
}

.nav-links a {
    padding: 0.4rem 0.8rem;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
}

.nav-links a:hover {
    background: #000000;
}