nav {
    position: fixed;
    right: 1rem;
    top: 22px;
    z-index: 100;
}

.nav-toggle {
    display: block;
    padding: 0.4rem 0.8rem;
    background: #636363;
    color: #c0c0c0;
    cursor: auto;
    user-select: none;
}

.nav-links {
    display: none;
    flex-direction: column;
    background: #414141;
}

nav:hover .nav-links {
    display: flex;
}

.nav-links a {
    padding: 0.4rem 0.8rem;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
}

.nav-links a:hover {
    background: #000000;
}