<div class="test-container">
  <h1>AI Pilots Test Lab</h1>

  <section class="auth-box">
    <h3>Authentication</h3>
    <label><input type="checkbox" [(ngModel)]="isRegisterMode"> Register Mode</label>
    <br><br>
    <input [(ngModel)]="username" placeholder="Username" (keydown.enter)="isRegisterMode ? onRegister() : onLogin()"/>
    <input [(ngModel)]="password" type="password" placeholder="Password" (keydown.enter)="isRegisterMode ? onRegister() : onLogin()"/>
    <input *ngIf="isRegisterMode" [(ngModel)]="displayName" placeholder="Display Name" (keydown.enter)="onRegister()"/>
    <br><br>
    <button (click)="onLogin()">Login</button>
    <button (click)="onRegister()">Register</button>
    <button (click)="onLogout(false)">Logout</button>

    @if (loggedIn()) {<p>Logged in as {{displayNameLogged}}</p>} @else {<p>Not logged in</p>}
  </section>
</div>