
canvas {
    background-color: black;
    border: 1px solid #af2c2c;
    width: 75%;
    height: 75%;
    image-rendering: pixelated;
}

#header { margin: 10px 20px 20px 20px; }

/*for better quality, make larger than necessary in css*/