<div class="wrapper">
    <canvas #canvas></canvas>
    <div class="menu-wrapper bg" [class.hidden]="menuHidden">
        <!--<div id="live"><p>Menu:</p></div>-->
        <div class="mode-select">
            <button *ngIf="!train" class="options" [ngClass]="{'selected': humanSelected}" (click)="toggleHuman()">Human</button>
            <button *ngIf="!train" class="options" [ngClass]="{'selected': customSelected}" (click)="toggleCustom()">Custom</button>
            <button *ngIf="!gServiceHelperHTML && !train" (click)="gameService.ownController = true; detectGameService(); logCont();">Remove Selected Controller to select own Controller</button>
            <button *ngIf="!train" class="options" [ngClass]="{'selected': aiSelected}" (click)="toggleAi()">AI</button>
            <button class="options" [ngClass]="{'selected': train}" (click)="toggleTrain()">Training</button>
        </div>

        <div *ngIf="aiSelected" class="ai-levels">
            <button class="options" [ngClass]="{'selected': selectedAiLevel==='l17'}" (click)="selectAiLevel('l17')">AI Level 0</button>
            <button class="options" [ngClass]="{'selected': selectedAiLevel==='l0'}" (click)="selectAiLevel('l0')">AI Level 1</button>
            <button class="options" [ngClass]="{'selected': selectedAiLevel==='l18'}" (click)="selectAiLevel('l18')">AI Level 2</button>
        </div>

        <!--<div class="skins">
            <button [ngClass]="{'selected': selectedSkin==='s0'}" (click)="selectS('s0')">Skin0</button>
        </div>-->

        <div class="controls">
            <div class="basic-buttons">
                <button class="menu" (click)="pause();">Pause</button>
                <button class="menu" (click)="resume();">Resume</button>
                <button class="menu" (click)="startGame(); onButtonClick($event)">Start</button>
                <button class="menu" (click)="quit();">Quit</button>
            </div>
        </div>

        <div *ngIf="!humanSelected" class="cam-select">
            <button class="options" (click)="showAI = !showAI">Toggle Cam</button>
        </div>

        <div class="mode">
            <button [ngClass]="{'selected': !phoneMode}" (click)="phoneMode = !phoneMode; menuHidden = phoneMode ? menuHidden : !menuHidden">Touch</button>
        </div>

        <div class="mode">
            <button class="options" [ngClass]="{'selected': inspect}" (click)="toggleInspect()">Inspect</button>
            <button routerLink="/custom">Customise Controller</button>
        </div>

        <div class="live">
            <div class="live-row error"  *ngIf="errorMsg || customData.error">
                {{errorMsg}} | {{customData.error}}
            </div>
            <div class="live-row">
                <span class="label">Scores:</span>
                    <table class="value">
                        <tr><td>{{scores[0]>=0?scores[0]:'Human'}}</td></tr>
                        <tr><td>{{scores[1]>=0?scores[1]:0}}</td></tr>
                    </table>
                    <table class="value">
                        <tr><td>{{scores[2]>=0?scores[2]:'AI'}}</td></tr>
                        <tr><td>{{scores[3]>=0?scores[3]:0}}</td></tr>
                    </table>
                    <table class="value">
                        <tr><td>{{scores[4]>=0?scores[4]:'Custom'}}</td></tr>
                        <tr><td>{{scores[5]>=0?scores[5]:0}}</td></tr>
                    </table>
            </div>
            <div class="live-row" *ngIf="timeLeft>0">
                <span class="label">Time:</span>
                <span class="value">{{formatTime(timeLeft)}}</span>
            </div>
            <div class="live-row">
                <span class="label" *ngIf="timeLeft<=0">Winner: {{winner}}<br></span>
                <span class="label" *ngIf="timeLeft>0">Winning: {{winner}}<br></span>
            </div>
            <!--<p class="error" *ngIf="crashMsg">{{crashMsg}}</p>-->
        </div>
        <div class="info">
            <details>
                <summary>Control Guide</summary>
                    To steer, use the left, right, up arrows, or the "a", "d", "w" keys. <br>
                    Start by clicking the up/w key, to use both thrusts for upward thrust. <br>
                    Then use left,right / a,d keys to make the left or right thrust a bit stronger. <br>
                    This will move the drone in the opposite direction. <br>
                    To move downward, just release the thrusts, but don't wait to long to catch it! <br>
                    To go very fast, click all three keys at once. <br><br>
                    If you don't have a keyboard, the "Touch" options display your buttons. <br>
                    To hide/display the options menu, you can always click "☰ Options" <br><br>
            </details>
            <details>
                <summary>{{sRat}} Options Guide</summary>
                    Choose the player options in the first row of buttons <br>
                    You have to choose exactly two players, unless you are in training mode, where scores won't be saved to your account. <br>
                    If one of the players is an AI, you also have to choose a level, determining the skill of the AI. <br>
                    If you chose to challenge another player's custom controller from the leaderboard, it will be indicated and you have to choose "Custom" to battle it. <br>
                    You can pause, resume, quit, and start the game with the corresponding buttons.
            </details>
        </div>
    </div>

    <div class="lr-buttons" [class.phone]="phoneMode">
        <button class="lr" [class.phone]="phoneMode" (mousedown)="startLeft()" (mouseup)="stopLeft()" (touchstart)="startLeft()" (touchend)="stopLeft()">L</button>
        <button class="lr" [class.phone]="phoneMode" (mousedown)="startRight()" (mouseup)="stopRight()" (touchstart)="startRight()" (touchend)="stopRight()">R</button>
        <button class="lr" [class.phone]="phoneMode" (mousedown)="startSpace()" (mouseup)="stopSpace()" (touchstart)="startSpace()" (touchend)="stopSpace()">Thrust</button>
    </div>
</div>
<button class="menu-toggle" (click)="menuHidden = !menuHidden">☰ Options</button>

<app-inspect *ngIf="inspect" [aiSelected]="aiSelected" [stateN0]="stateN0"></app-inspect>
<!--for better quality make larger than necessary in css-->
<!--<button (click)="onClicked()">{{this.text}}</button>-->

<div class="info">
    <details style="color: black;">
        <summary>attributions</summary>
        <a style="color: black;" href='https://pngtree.com/freepng/burning-meteor-with-flames-and-glowing-heat-effect-for-space-disaster_20756914.html'>png images from pngtree.com/</a>
        <br><a style="color: black;" href="https://www.vecteezy.com/free-png/space-debris">Space Debris PNGs by Vecteezy</a>
        <br><a style="color: black;" href="https://www.freepik.com/free-photos-vectors/blackhole-png">images from FREEP!K</a>
        <br><a style="color: black;" href="https://www.vecteezy.com/free-png/gold-glitter-wave">Gold Glitter Wave PNGs by Vecteezy</a>
        <br><a style="color: black;" href="https://www.vecteezy.com/free-png/satellite">Satellite PNGs by Vecteezy</a>
        <br><a style="color: black;" href="https://www.vecteezy.com/free-png/astronaut">Astronaut PNGs by Vecteezy</a>
        <br><a style="color: black;" href="https://www.vecteezy.com/free-png/alien">Alien PNGs by Vecteezy</a>
        <br><a style="color: black;" href="https://www.vecteezy.com/free-png/alien">Alien PNGs by Vecteezy</a>
        <br><a style="color: black;" href="https://ezremove.ai/image-to-image/">some images generated on https://ezremove.ai</a>
        <br><a style="color: black;" href="https://imgtoimg.ai/">some images generated on https://imgtoimg.ai/</a>
        <br><a style="color: black;" href="https://pixabay.com/sound-effects/">all audio from https://pixabay.com/sound-effects/</a>
        <br><a style="color: black;" href="https://opengameart.org/content/seamless-space-backgrounds">background image from https://opengameart.org/content/seamless-space-backgrounds</a>
        <a style="color: black;" href="https://www.vecteezy.com/free-png/drone">Drone PNGs by Vecteezy</a>
    </details>
</div>

