
/*@import "bootstrap/scss/bootstrap";*/

body {
    background-color: black;
    color: rgb(85, 221, 255);
    height: 100%;
}

#wrapper {
    display: flex;
    flex-direction: row;
}

canvas {
    background-color: black;
    border: 1px solid #392caf;
    width: 50%;
    height: 100%;
    image-rendering: pixelated;
}

#live { margin: 10px 20px 20px 20px; }

/*for better quality, make larger than necessary in css*/