<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Pilots - Game</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <canvas #canvas></canvas>
        <div class="menu-wrapper bg" [class.hidden]="menuHidden">
            <!--<div id="live"><p>Menu:</p></div>-->
            <div class="mode-select">
                <button *ngIf="!train" class="options" [ngClass]="{'selected': humanSelected}" (click)="toggleHuman()">Human</button>
                <button *ngIf="!train" class="options" [ngClass]="{'selected': customSelected}" (click)="toggleCustom()">Custom</button>
                <button *ngIf="!gameService.ownController && !train" (click)="gameService.ownController = true; logCont();">Remove Selected Controller to select own Controller</button>
                <button *ngIf="!train" class="options" [ngClass]="{'selected': aiSelected}" (click)="toggleAi()">AI</button>
                <button class="options" [ngClass]="{'selected': train}" (click)="toggleTrain()">Training</button>
            </div>

            <div *ngIf="aiSelected" class="ai-levels">
                <button class="options" [ngClass]="{'selected': selectedAiLevel==='l17'}" (click)="selectAiLevel('l17')">AI Level 0</button>
                <button class="options" [ngClass]="{'selected': selectedAiLevel==='l0'}" (click)="selectAiLevel('l0')">AI Level 1</button>
                <button class="options" [ngClass]="{'selected': selectedAiLevel==='l18'}" (click)="selectAiLevel('l18')">AI Level 2</button>
            </div>

            <!--<div class="skins">
                <button [ngClass]="{'selected': selectedSkin==='s0'}" (click)="selectS('s0')">Skin0</button>
            </div>-->

            <div class="controls">
                <div class="basic-buttons">
                    <button class="menu" (click)="pause();">Pause</button>
                    <button class="menu" (click)="resume();">Resume</button>
                    <button class="menu" (click)="startGame(); onButtonClick($event)">Start</button>
                    <button class="menu" (click)="quit();">Quit</button>
                </div>
            </div>

            <div *ngIf="!humanSelected" class="cam-select">
                <button class="options" (click)="showAI = !showAI">Toggle Cam</button>
            </div>

            <div class="mode">
                <button [ngClass]="{'selected': !phoneMode}" (click)="phoneMode = !phoneMode">Touch</button>
            </div>

            <div class="mode">
                <button class="options" [ngClass]="{'selected': inspect}" (click)="toggleInspect()">Inspect</button>
            </div>

            <div id="live">
                <div class="live-row">
                    <span class="label">Scores:</span>
                        <table class="value">
                            <tr><td>{{scores[0]>=0?scores[0]:0}}</td></tr>
                            <tr><td>{{scores[1]>=0?scores[1]:0}}</td></tr>
                        </table>
                        <table class="value">
                            <tr><td>{{scores[2]>=0?scores[2]:0}}</td></tr>
                            <tr><td>{{scores[3]>=0?scores[3]:0}}</td></tr>
                        </table>
                        <table class="value">
                            <tr><td>{{scores[4]>=0?scores[4]:0}}</td></tr>
                            <tr><td>{{scores[5]>=0?scores[5]:0}}</td></tr>
                        </table>
                </div>
                <div class="live-row" *ngIf="timeLeft>0">
                    <span class="label">Time:</span>
                    <span class="value">{{formatTime(timeLeft)}}</span>
                </div>
                <div class="live-row error" *ngIf="errorMsg">
                    {{errorMsg}}
                </div>
                <div class="live-row" *ngIf="timeLeft<=0">
                    <span class="label">Winner:<br></span>
                    <span class="value">{{winner}}</span>
                </div>
                <!--<p class="error" *ngIf="crashMsg">{{crashMsg}}</p>-->
            </div>
        </div>

        <div class="lr-buttons" [class.phone]="phoneMode">
            <button class="lr" [class.phone]="phoneMode" (mousedown)="startLeft()" (mouseup)="stopLeft()" (touchstart)="startLeft()" (touchend)="stopLeft()">L</button>
            <button class="lr" [class.phone]="phoneMode" (mousedown)="startRight()" (mouseup)="stopRight()" (touchstart)="startRight()" (touchend)="stopRight()">R</button>
            <button class="lr" [class.phone]="phoneMode" (mousedown)="startSpace()" (mouseup)="stopSpace()" (touchstart)="startSpace()" (touchend)="stopSpace()">Thrust</button>
        </div>
    </div>
    <button class="menu-toggle" (click)="menuHidden = !menuHidden">☰ Options</button>
</body>
</html>
<app-inspect *ngIf="inspect"></app-inspect>
<!--for better quality make larger than necessary in css-->
<!--<button (click)="onClicked()">{{this.text}}</button>-->